[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "trackclean"]
	path = trackclean
	url = https://github.com/tomasbil/trackclean
